#cssmenu,#cssmenu #menu-button,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a{margin:0;padding:0;border:0;list-style:none;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#cssmenu:after,#cssmenu>ul:after{content:"\e252";display:block;clear:both;visibility:hidden;line-height:0;height:0}#cssmenu #menu-button{display:none}#cssmenu{float:right}#cssmenu>ul{float:left;padding:0;margin:17px 0}#cssmenu>ul>li{float:left;margin-left:3px}#cssmenu.align-center>ul{font-size:0;text-align:center}#cssmenu>ul>li.active>a,#cssmenu>ul>li>a{padding:8px 15px 9px;font-size:16px;font-weight:200;text-decoration:none}#cssmenu.align-center>ul>li{display:inline-block;float:none}#cssmenu ul ul li a span,#cssmenu>ul>li.has-sub>a>span{float:right}#cssmenu.align-center ul ul{text-align:left}#cssmenu.align-right>ul>li{float:right;margin-left:12px}#cssmenu>ul>li.active>a{background-color:#e7e7e7;color:#000047}#cssmenu>ul>li>a{color:#333;font-family:Roboto-Regular}#cssmenu>ul>li:hover>a{background-color:#e7e7e7;color:#000047}#cssmenu>ul>li.has-sub>a:after,#cssmenu>ul>li.has-sub>a:before{width:15px;height:7px;background:#484545;display:block;position:absolute}#cssmenu>ul>li.has-sub>a{padding-right:10px}#cssmenu>ul>li.has-sub>a:after{top:22px;right:11px}#cssmenu>ul>li.has-sub>a:before{top:19px;right:14px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}#cssmenu>ul>li.active.has-sub>a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#fff}#cssmenu>ul>li.active.has-sub>a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#fff;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}#cssmenu ul ul li,#cssmenu ul ul li a{float:left;width:100%}#cssmenu>ul>li.has-sub:hover>a:before{top:23px;height:0;background:#fff}#cssmenu>ul>li.has-sub:hover>a:after{top:23px;height:2px;background:#fff}#cssmenu ul ul{position:absolute;left:-9999px;z-index:99999999;background:#fff;border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:0 6px 12px rgba(0,0,0,.176)}#cssmenu li:hover>ul{left:auto}#cssmenu.align-right li:hover>ul{left:auto;right:0}#cssmenu ul ul ul{margin-left:100%;top:0}#cssmenu.align-right ul ul ul{margin-left:0;margin-right:100%}#cssmenu ul ul li a{padding:8px 15px;min-width:170px;font-size:15px;text-decoration:none;color:#484545;font-weight:400}#cssmenu ul ul li.last-item>a,#cssmenu ul ul li:last-child>a{border-bottom:0}#cssmenu ul ul li a:hover,#cssmenu ul ul li:hover>a{background-color:#890000!important;color:#fff}@media all and (max-width:767px){#cssmenu{margin-top:-54px}#cssmenu>ul{margin-top:50px!important}}@media (min-width:992px) and (max-width:1199px){#cssmenu>ul>li.active>a,#cssmenu>ul>li>a{padding:8px 15px 9px;font-size:16px;text-decoration:none;font-weight:200}#cssmenu>ul>li.active>a{background-color:#e7e7e7;color:#000047}#cssmenu>ul>li>a{color:#333;font-family:Roboto-Regular}#cssmenu>ul>li:hover>a{background-color:#e7e7e7;color:#000047}}@media (min-width:992px){#cssmenu ul ul li a{font-size:14px!important;padding:8px 10px!important}.products_menu{width:195px!important}}@media (min-width:768px) and (max-width:991px){#cssmenu #menu-button::before{position:absolute;top:8px;right:9px;display:block;height:14px;width:22px;background-image:url(../images/menu_icon.png);background-repeat:no-repeat;content:""}#cssmenu ul,#cssmenu ul ul>li.has-sub>a:after,#cssmenu ul ul>li.has-sub>a:before,#cssmenu>ul>li.has-sub>a:after,#cssmenu>ul>li.has-sub>a:before{display:none}#cssmenu{float:right;width:100%}#cssmenu>ul{margin-top:65px!important}#cssmenu ul{width:100%;float:left;z-index:999999999;height:245px;overflow-y:scroll;margin-bottom:40px;position:absolute;background:#fff}#cssmenu.align-center>ul{text-align:left}#cssmenu ul li{width:100%;border-top:1px solid rgba(120,120,120,.2)}#cssmenu li:hover>ul>li,#cssmenu ul li ul,#cssmenu ul ul li{height:auto}#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;border-top-left-radius:0!important;border-top-right-radius:0!important}#cssmenu>ul>li{width:100%}#cssmenu ul ul li a{padding-left:25px;color:#484545;background:0 0}#cssmenu ul li ul li ul{height:auto!important}#cssmenu ul ul ul li a{padding-left:35px}#cssmenu ul ul li.active>a,#cssmenu ul ul li:hover>a{color:#fff;border-top-left-radius:0!important;border-top-right-radius:0!important;background-color:#890000}#cssmenu ul ul,#cssmenu ul ul ul,#cssmenu.align-right ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}.menu_border{border:1px solid #890000!important;float:left;padding:9px 15px;margin-top:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:40px;height:32px}#cssmenu #menu-button{display:block;color:#890000;cursor:pointer;font-size:12px;text-transform:uppercase;font-weight:700;float:right;margin-right:0;margin-top:24px}#cssmenu ul ul li{width:100%;float:left}#cssmenu #menu-button:before{position:absolute;top:8px;right:8px;display:block;height:14px;width:22px}#cssmenu #menu-button.menu-opened:before{top:8px;width:22px}#cssmenu>ul>li{float:left;margin-left:0}#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;cursor:pointer;width:34px;height:43px}#cssmenu .submenu-button.submenu-opened{color:#fff}#cssmenu ul ul .submenu-button{width:34px;height:43px}#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block}#cssmenu ul ul .submenu-button:after{top:15px;right:13px}#cssmenu .submenu-button.submenu-opened:after{background:#484545}#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px}#cssmenu ul ul .submenu-button:before{top:12px;right:16px}#cssmenu .submenu-button.submenu-opened:before{display:none}}@media all and (max-width:767px),only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),only screen and (min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min-resolution:192dpi) and (max-width:1024px),only screen and (min-resolution:2dppx) and (max-width:1024px){#cssmenu #menu-button::before{position:absolute;top:8px;right:9px;display:block;height:14px;width:22px;background-image:url(../images/menu_icon.png);background-repeat:no-repeat;content:""}#cssmenu ul,#cssmenu ul ul>li.has-sub>a:after,#cssmenu ul ul>li.has-sub>a:before,#cssmenu>ul>li.has-sub>a:after,#cssmenu>ul>li.has-sub>a:before{display:none}#cssmenu{float:right;width:100%}#cssmenu ul{width:100%;float:left;z-index:999999999;height:255px;overflow-y:scroll;margin-bottom:0;position:absolute;background:#fff}#cssmenu.align-center>ul{text-align:left}#cssmenu ul li{width:100%;border-top:1px solid rgba(120,120,120,.2)}#cssmenu ul li ul,#cssmenu ul li ul li ul{height:auto!important}#cssmenu li:hover>ul>li,#cssmenu ul ul li{height:auto}#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;border-top-left-radius:0!important;border-top-right-radius:0!important}#cssmenu>ul>li{width:100%}#cssmenu ul ul li a{padding-left:25px;color:#484545;background:0 0}#cssmenu ul ul ul li a{padding-left:35px}#cssmenu ul ul li.active>a,#cssmenu ul ul li:hover>a{color:#fff;border-top-left-radius:0!important;border-top-right-radius:0!important;background-color:#890000}#cssmenu ul ul,#cssmenu ul ul ul,#cssmenu.align-right ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}.menu_border{border:1px solid #890000!important;float:left;padding:9px 15px;margin-top:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:40px;height:32px}#cssmenu #menu-button{display:block;color:#890000;cursor:pointer;font-size:12px;text-transform:uppercase;font-weight:700;float:right;margin-right:0;margin-top:0}#cssmenu ul ul li{width:100%;float:left}#cssmenu #menu-button:before{position:absolute;top:8px;right:8px;display:block;height:14px;width:22px}#cssmenu #menu-button.menu-opened:before{top:8px;width:22px}#cssmenu>ul>li{float:left;margin-left:0}#cssmenu .submenu-button{position:absolute;z-index:99;right:0;display:block;cursor:pointer;width:34px;height:43px}#cssmenu .submenu-button.submenu-opened{color:#fff}#cssmenu ul ul .submenu-button{height:34px;width:34px}#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block}#cssmenu ul ul .submenu-button:after{top:15px;right:13px}#cssmenu .submenu-button.submenu-opened:after{background:#484545}#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px}#cssmenu ul ul .submenu-button:before{top:12px;right:16px}#cssmenu .submenu-button.submenu-opened:before{display:none}}.demo_btn a:focus,.demo_btn a:hover,li.demo_btn a{border-radius:30px!important;color:#fff!important}.glyphicon{font-size:11px!important;margin-left:5px!important;top:8px!important}li.demo_btn a{background-color:#890000;font-family:Roboto-Medium;font-size:15px!important;font-weight:700;margin-left:10px;margin-top:22%;padding:9px 15px 10px!important}.demo_btn a:focus,.demo_btn a:hover{opacity:.7;background-color:#890000!important}.products_menu{width:215px}.products_menu ul li a{white-space:nowrap}@media (max-width:991px){li.demo_btn a,li.demo_btn a:focus,li.demo_btn a:hover{border-radius:0!important}}
.research-compliance {
    margin-left: 15px !important;
}
/* :root {
  --blue: #1e90ff;
  --white: #ffffff;
}
body{
    background-color: var(--red, red);
    background-color: var(--red, orange);
} */
.more {
    margin-left: 20px !important;
}
.feature_text.feature_text_services p{
    width: 100% !important;
}
.feature_text.feature_text_services  .contact1 h2{
    color: #000000;
    font-size: 24px;
    font-family: Roboto-Medium !important; 
}
.feature_text_services .contact3:first-child {
    border-top: none; /* Remove border for the first child with class contact3 */
}
.feature_text_services .contact3 {
    margin-bottom: 12px !important;
}
.services-page .aboutus_banner img{
    object-fit: cover !important;
}
.custom-chatbots-banner{
    background-image: url('../images/custom-chatbots-1.jpg');
    background-size: cover;
    height: 330px;
    background-position: 0 -32px;
}
.data-infrastructure-page-banner .inner_banner_text{
	width: 75%;
}
.feature_text1 p{
    width: 100%;
}
.has-sub:has(.products_menu li.active) {
    background-color: #e7e7e7;
}
.mb-12{
    margin-bottom: 12px;
}
.mt-15{
    margin-top: 15px;
}
.responsive_change{
	float: right;
}
.ai-ml-img{
    width: 100% !important;
    margin: 0 !important;
    height: 260px;
}
.ai-ml-page-main  .contact3{
    border-top: none;
    margin: 0 !important;
    padding: 0 !important;
}
.ai-ml-page-main .contact1 h2{
    /* font-size: 24px !important; */
    color: #000;
}.inner_banner_text{
    overflow: hidden;
}
.banner-content{
    color: white;
}
.banner-overlay{
    position: absolute;
    top: 35%;
    /* bottom: 50%; */
    color: white;
    left: 10%;
    width: 750px;
}
.banner-overlay p{
    font-size: 16px;
}
.d-flex{
    display: flex;
}
.ml-16{
    margin-left: 16px !important;
}
.ml-36{
    margin-left: 36px !important;
}
.ml-26{
    margin-left: 26px !important;
}
.our-services-content p{
    text-align: left !important;
}
.our-services-content h3{
    line-height: 32px !important;

}
.overview-section {
    background-color: #20243C !important;
    /* height: 360px; */
    color: white !important;
    padding: 34px;
    display: black;
    align-items: center;
    width: 96%;
    margin-left: 16px;
    margin-bottom: 24px;
    margin-top: 12px;
    /* background-image: url('https://i.postimg.cc/j23f77q2/Fru-K9u-Zi-N4dx-Cf-Wk-C3d-T6-transformed.png'); */
    background: linear-gradient(to left ,rgba(32, 36, 60, 0.9), rgba(32, 36, 60, 0.9)), url('https://i.postimg.cc/j23f77q2/Fru-K9u-Zi-N4dx-Cf-Wk-C3d-T6-transformed.png');
    background-position: center;
}
.overview-section-1 {
    background: linear-gradient(to left, rgb(0, 5, 82, 0.5), rgb(0, 3, 83, 0.8)), url(https://i.postimg.cc/j23f77q2/Fru-K9u-Zi-N4dx-Cf-Wk-C3d-T6-transformed.png);
}
.overview-section-2 {
    background: linear-gradient(to left ,rgba(32, 36, 60, 0.9), rgba(32, 36, 60, 0.9)), url('https://i.postimg.cc/j23f77q2/Fru-K9u-Zi-N4dx-Cf-Wk-C3d-T6-transformed.png');
}
.overview-section p{
    color: white;
}
.heading-content {
    color: #890000 !important;
    font-size: 18px !important;
    font-family: Roboto-Regular !important;
    margin: 0 !important;
}
.heading-label {
    color: #000000 !important;
    font-size: 24px;
    font-family: Roboto-Regular;
    line-height: 30px;
    margin: 0px 0;
}
.card{
    box-shadow: 0 4px 5px rgba(81,169,225,.2),0 3px 14px rgba(81,169,225,.12),0 8px 10px rgba(81,169,225,.14);
    padding: 24px;
    padding-top: 0;
    border-radius: 15px;
    }
    .mt-16{
        margin-top: 16px;
    }
    .mt-26{
        margin-top: 26px;
    }
    .heading-label-main{
        font-weight: bold !important;
        font-size: 46px !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 54px !important;
        font-family:  'poppins', sans-serif !important;
    }
    .heading-label-text{
        font-size: 30px !important;
    }
    .services-card h3{
        align-items: center;
    }
    .inner_banner_text.aiml-banner-text {
        top: 33% !important;
    }
    .inner_banner_text  h1 span{
        
        font-weight: 600 !important;
        font-family: 'poppins', sans-serif !important;
    }
    .inner_banner_text p{
        /* color: #000 !important; */
        font-family: 'poppins', sans-serif !important;
    }
    .aiml-banner-text-black h1 span{
        color: #000 !important;
        font-family: 'poppins', sans-serif !important;
    }
    .aiml-banner-text-black p{
        color: #000 !important;
    }
    .inner_banner_text.aiml-banner-text-new-1{
        top: 30% !important;
    }
    @media (min-width:1224px){

        .grid-view-cards{
            display: flex;
            clear: both;
        }
    }
    .professional-services-list .product_title{
        color: #303030;
        font-family: Roboto-Regular;
        font-size: 18px;
        display: inline;
        margin-left: 8px;
        float: none !important; 
    }
    .professional-services-list .product_img1{
        display: inline;
    }
    .professional-services-list .service-one {
        border-style: solid;
        --border-style: solid;
        border-width: 0px 1px 1px 0px;
        border-color: #ddd;
    }

    .professional-services-list  .service-two {
        border-style: solid;
        --border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #ddd;
    }
    .professional-services-list .service-three{
        border-style: solid;
        --border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: #ddd;
    }
    .professional-services-list  .inner_products{
        text-align: left;
    }
    .ps-page-card-grid .card{
        height: 100%;
    }
    .ps-page-card-grid .card p{
        text-align: left;
    }
    .ps-page-card-grid .contact1 h2{
        color: #000;
    }